body {
    color: white;
    background: #c0d3ff;
  }
  span {
    font-size: 30px;
  }
  #camera,
  #result {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
  }
  #result_emotion_name,
  #result_emotion_name2 {
    color: black;
  }
  .emotion_name {
    font-size: 40px;
  }
  .emoji {
    font-size: 48px;
  }
  
  .heading {
    width: 50rem;
    height: 120px;
    font-size: 20px;
    letter-spacing: 12px;
    border-radius: 20px;
  }
  
  .camera-hold,
  .result-hold {
    /* border: 2px dashed black; */
    width: 450px;
    height: 400px;
  }
  
  label {
    color: black;
    font-size: larger;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }
  